@media only screen and (min-width: 750px) {
  body {
    margin: 0;
    background-color: rgb(252, 199, 192);
    font-family: sans-serif;
  }

  header {
    background-color: rgb(252, 177, 167);
    border-bottom: 1px solid rgb(251, 155, 143);
    padding: 1%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 20;
    top: 0;
    width: 100%;
  }

  .divisao {
    border-bottom: 1px solid lightgray;
    margin-bottom: 2%;
  }
  .inline {
    display: inline;
  }

  .data {
    min-width: 130px;
  }
  
  .titulo-header {
    color: white;
    text-align: right;
    margin-right: 5%;
    text-shadow: 2px 2px 3px rgb(201, 105, 103);
  }

  .forms-div {
    background-color: white;
    width: 90%;
    margin: 2% auto;
    padding: 2%;
  }

  .inputradio {
    margin-left: 1%;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  h1 {
    margin: auto;
  }

  h2,
  h3 {
    box-sizing: border-box;
    text-align: center;
    color: white;
    width: 100%;
    text-shadow: 2px 2px 3px rgb(201, 105, 103);
  }

  h3 {
    margin: 1% auto;
    padding: 1%;
    background-color: rgb(251, 217, 192);
  }

  h2 {
    margin: auto;
    margin-top: 8%;
  }

  .ciente {
    font-weight: 700;
  }

  .center label {
    align-self: baseline;
    margin: 5px;
  }

  .center input {
    align-self: baseline;
  }

  .estilo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  .estilo input {
    align-self: baseline;
  }

  .estilo label {
    margin: 5px;
    align-self: baseline;
  }
}

@media only screen and (max-width: 750px) {
  body {
    margin: 0;
    background-color: rgb(252, 199, 192);
    font-family: sans-serif;
  }

  header {
    background-color: rgb(252, 177, 167);
    border-bottom: 1px solid rgb(251, 155, 143);
    padding: 1%;
    display: flex;
    align-items: center;
    z-index: 20;
    top: 0;
    width: 100%;
  }

  .divisao {
    border-bottom: 1px solid lightgray;
    margin-bottom: 2%;
  }

  .inline {
    display: inline;
  }

  .data {
    min-width: 130px;
  }

  .titulo-header {
    visibility: hidden;
    display: none;
  }

  .forms-div {
    background-color: white;
    width: 90%;
    margin: 2% auto;
    padding: 2%;
  }
  .inputradio {
    margin-left: 1%;
  }

  h1 {
    margin: auto;
  }
  h2,
  h3 {
    box-sizing: border-box;
    text-align: center;
    color: white;
    width: 100%;
    text-shadow: 2px 2px 3px rgb(201, 105, 103);
  }

  h3 {
    margin: 1% auto;
    padding: 1%;
    background-color: rgb(251, 217, 192);
  }

  h2 {
    margin: auto;
    margin-top: 8%;
  }

  .ciente {
    font-weight: 700;
  }

  .center {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }

  .center label {
    align-self: baseline;
    margin-left: 5px;
    width: 100%;
  }

  .center input {
    align-self: baseline;
  }

  .tecnica-unha {
    display: flex;
  }

  .estilo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }

  .estilo input {
    align-self: baseline;
  }

  .estilo label {
    margin: 5px;
    align-self: baseline;
  }

  .pesquisa-header {
    width: 500px;
    display: flex;
    flex-direction: row;
  }

  #pesquisacpfbtn {
    margin-left: 5px;
  }
}
